@{
    ViewBag.Title = "Contact";
}
<h2 class="p-4">Dont talk to me.</h2>
<h3 class="p-4">Or my son</h3>
<h3 class="p-4">Ever again</h3>

<address>
    One Naming Convention Way<br />
    Tampers, FL 37272<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:dont@me.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:seriouslydont@me.com">Marketing@example.com</a>
</address>