@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dummy Data Reviews</h1>
    <p class="lead">The reviews are as meaningless as our lives</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Get your list of restaurants here</h2>
        <p>
            Go get your list. You go girl.

        </p>
        <p>@Html.ActionLink("Restaurants", "Index","Restaurant", null, htmlAttributes: new { @class = "btn btn-secondary px-5 py-3" })</p>
    </div>
    <div class="col-md-4">
        <h2>Get your top three <strong>fuego</strong> restaurants</h2>
        <p>I heard Topiczoom had the best gluten-free, vegan-friendly, cruelty-free A5 Wagyu beef cheeseburger in the lesser Albuquerque area</p>
        <p>@Html.ActionLink("Top Three", "TopThreeRated", "Restaurant", null, htmlAttributes: new { @class = "btn btn-secondary px-5 py-3" })</p>
    </div>
    <div class="col-md-4">
        <h2>Contact us</h2>
        <p>No solicitation though please</p>
        <p>@Html.ActionLink("Get @ Us", "Contact",  null, htmlAttributes: new { @class = "btn btn-secondary px-5 py-3" })</p>
    </div>
</div>