@model DbFirst.RestaurantInfo
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
<div>
    <section>
        <h3>@Model.RestaurantName</h3>
        <aside>@Model.Description</aside>
    </section>
</div>
</body>
</html>
